<app-menu></app-menu>
<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 header-brand text-center">
        <img src="assets/img/experiencia/partnership.png" alt="Logo con descripción" class="img-fluid ">
      </div>
      <div class="col-md-12 text-center encima">
        <p class="text-white texto">La red de socios comerciales experta en el desarrollo de líderes</p>
      </div>
    </div>
  </div>
</section>
<section class="section-video" id="casos" name="casos">
  <div class="container dimension">
    <div class="row" >
      <div class="col-sm-12 text-center"  data-aos="fade-up" data-aos-duration="1100" data-aos-delay="800">
        <iframe class="frame"
                src="https://www.youtube.com/embed/Rmocn9bNqGQ" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

        </iframe></div>
    </div>
  </div>
</section>
<!--<div class="container my-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="font-section">Crezcamos juntos y hagamos una sociedad mejor mediante el desarrollo de líderes<br>
        in-creíbles.
      </p>
    </div>
  </div>
</div> -->
<section class="contacto section-contacto" id="contacto" name="contacto">
  <div class="container">
    <div class="py-4"></div>
    <div class="row caja-contacto">
      <div class="col-md-6 my-5">
        <div class="row m-auto">
          <div class="col-md-12">
            <p class="font-section">Compártenos tus datos y nos comunicamos contigo.</p>
          </div>
          <div class="col-md-12">
            <div class="row">
              <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
                <input type=hidden name="oid" value="00D8c0000015QLr">
                <input type=hidden name="retURL" value="http://youleader.com">
                <div class="col-md-12 my-4 espacio">
                  <input type="text" id="first_name"  name="first_name"class="form-control input" placeholder="Nombre" required/>
                </div>
                <div class="col-md-12 my-4 espacio">
                  <input type="email" id="email" name="email" class="form-control input" placeholder="Correo electrónico" required/>
                </div>
                <div class="col-md-12 my-3 espacio">
                  <input type="text" id="phone"  name="phone" class="form-control input" placeholder="Teléfono" required/>
                </div>
                <div class="col-md-12 my-3 espacio">
                  <input type="text" id="company" maxlength="40" name="company" class="form-control input" placeholder="Nombre de empresa" required/>
                </div>
                <div class="col-md-12 my-3 espacio d-none">
                  <input type="hidden" id="00N8c00000bh600" value="https://youleader.com"  name="00N8c00000bh600" class="form-control input"  required/>
                </div>
                <div class="col-md-12 text-end mt-3">
                  <button id="_form_76_submit" class="_submit btn boton px-5" type="submit" >
                    Enviar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-md-block d-none" style="background: url('assets/img/contacto-ex.png') center center no-repeat;border-radius: 0px 52px 0px 0px;"></div>
    </div>
  </div>
</section>
