.enlaces{
  text-decoration: none;
  color:white;
}
.enlaces:hover{
  color: #002B60;
  background-color: transparent;
}
.oculto{
  display: none;
}
.oculto1{
  display: block;
}
@media screen and (min-width:300px) and (max-width: 748px) {
  .oculto{
    display: block ;
  }
  .oculto1{
    display: none;
  }
}
.oculto{
  display: none;
}
.oculto1{
  display: block;
}
@media screen and (min-width:300px) and (max-width: 748px) {
  .oculto{
    display: block ;
  }
  .oculto1{
    display: none;
  }
}
