<footer class="text-left text-white oculto1" style="background: url('assets/img/footer.png');" >
  <!-- Grid container -->
  <div class="container pt-5">
    <!-- Section: Links -->
    <section class="pt-4">
      <!--Grid row-->
      <div class="row mx-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-4 col-sm-12 mb-6 mb-md-6">
          <ul class="list-unstyled mb-4">
            <li class="py-3">
              <a  routerLinkActive="router-link-active" class="text-white">
                <img src="assets/img/LOGO_YL%201.png" class="img-fluid">
              </a>
            </li>
            <li class="py-1 mx-lg-4">
              <a href="https://www.linkedin.com/company/youleader/" style="text-decoration: none; color: #FFFFFF;" target="_blank"><i class="fab fa-linkedin fa-2x text-white mx-3"></i></a>&nbsp;
              <a href="https://www.instagram.com/youleader_/" style="text-decoration: none; color: #FFFFFF;" target="_blank"><i class="fab fa-instagram fa-2x text-white mx-3"></i></a>
              <a href="https://www.youtube.com/channel/UCHb58CLEwTBYUFjHB_caPuw" style="text-decoration: none; color: #FFFFFF;" target="_blank"><i class="fab fa-youtube fa-2x text-white mx-3"></i></a>&nbsp;
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 mb-6 mb-md-6">
          <ul class="list-unstyled mb-4 text-center mt-3">
            <li class="py-1"></li>
            <li class="py-1"></li>
            <li class="py-lg-5"></li>
            <li class="py-lg-5">
            <img src="assets/img/line.png" class="img-fluid">
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 mb-6 mb-md-6">
          <ul class="list-unstyled mb-4">
            <li class="pt-lg-5">
              <p class="text-white">contacto@youleader.com</p>
            </li>
            <li><p class="text-white"><a href="" class="text-decoration-none" target="_blank">Aviso de privacidad</a></p></li>
          </ul>
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.2)">
    ©️ Todos los derechos reservados para el uso intelectual de <a href="https://youleader.com" class="enlaces">Youleader</a> 2022
    | Diseño y producción por <a class="enlaces" href="http://www.xiaexperience.com" target="_blank" style="text-decoration: none;"><img src="assets/img/Xia.png" class="img-fluid" alt="XIA" width="30"></a>
  </div>
  <!-- Copyright -->
</footer>
<footer class="text-left text-white oculto" style="background: url('assets/img/footer.png');" >
  <!-- Grid container -->
  <div class="container pt-5">
    <!-- Section: Links -->
    <section class="pt-4">
      <!--Grid row-->
      <div class="row mx-4">
        <!--Grid column-->
        <div class="col-sm-12 mb-6 mb-md-6">
          <ul class="list-unstyled mb-4">
            <li class="py-3">
              <a  routerLinkActive="router-link-active" class="text-white">
                <img src="assets/img/LOGO_YL%201.png" class="img-fluid">
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-12">
          <ul class="list-unstyled mb-4 text-center">
            <li class="py-1">
              <a href="https://www.linkedin.com/company/youleader/" style="text-decoration: none; color: #FFFFFF;" target="_blank"><i class="fab fa-linkedin fa-2x text-white mx-1"></i></a>&nbsp;
              <a href="https://www.instagram.com/youleader_/" style="text-decoration: none; color: #FFFFFF;" target="_blank"><i class="fab fa-instagram fa-2x text-white mx-1"></i></a>
              <a href="https://www.youtube.com/channel/UCHb58CLEwTBYUFjHB_caPuw" style="text-decoration: none; color: #FFFFFF;" target="_blank"><i class="fab fa-youtube fa-2x text-white mx-1"></i></a>&nbsp;
            </li>
          </ul>
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
</footer>
